<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      background-color: rgb(255, 255, 255);
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
    }
    h1{
      padding: 30px;
      background-color: darkcyan;
      color:white;
      margin-bottom: 40px;
    }
  </style>
</head>
<body>
  <h1>GALLERY</h1>

<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="assets/hair3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="assets/hair5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
      <img
        src="assets/hair8.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/hair2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="assets/NAil.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
      <img
        src="assets/hair9.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/hair7.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="assets/Massage.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
      <img
        src="assets/makeup.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>

  </div>
  <!-- Gallery -->

</body>
</html>

