<div class="row1">
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="assets/makeup-service.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Make-Up</h5>
              <p class="card-text">
                Cleanse,Make-Up & Lashes <br>
                Bridal Make-Up <br>
                Full Body <br>
                Half Body
              </p>
              <a routerLink="/user-booking" class="btn btn-primary" style="background-color: darkcyan;">BOOK NOW</a>
            </div>
          </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="assets/facial.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Facials</h5>
              <p class="card-text">
                The Mini Facial <br>
                The Core Facial <br>
                The Age Smart Facial <br><br>
              </p>
              <a routerLink="/user-booking" class="btn btn-primary" style="background-color: darkcyan;">BOOK NOW</a>
            </div>
          </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="assets/hair-service.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hair Services</h5>
              <p class="card-text">
                Blow Dry <br>
                Blow Dry with curling or flat iron <br>
                Hair cut with Blow Dry <br>
                Mens Hair Cur 
              </p>
              <a routerLink="/user-booking" class="btn btn-primary" style="background-color: darkcyan;">BOOK NOW</a>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>

<div class="row1">
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="assets/nail.service.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nail Services</h5>
              <p class="card-text">
                Manicures <br>
                Acrylic Full Set <br>
                Acrylic Fill <br>
                Pedicures 
              </p>
              <a routerLink="/user-booking" class="btn btn-primary" style="background-color: darkcyan;">BOOK NOW</a>
            </div>
          </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="assets/waxing.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Waxing</h5>
              <p class="card-text">
                Eyebrows <br>
                Lip & chin <br>
                Underarms <br>
                Bikini Wax
              </p>
              <a routerLink="/user-booking" class="btn btn-primary" style="background-color: darkcyan;">BOOK NOW</a>
            </div>
          </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="assets/wedding.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wedding Services</h5>
              <p class="card-text">
                Buddhist Weddings <br>
                Hindu Weddings <br>
                Muslim Weddings 
              </p>
                <p style="font-weight: bold;">Contact us for wedding services</p>
              <a routerLink="/contact-us" class="btn btn-primary" style="background-color: darkcyan;">CONTACT US</a>
            </div>
          </div>
      </div>

    </div>
  </div>

</div>